* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #011435;
    color: #011435;
    width: 100%;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    font-size: 45px;
    font-weight: 600;
    color: #021e4f;
    background-color: #ebd6a2;
    padding: 30px;
    padding-left: 80px;
    border-bottom: solid 5px #021e4f;
    height: 140px;
}

nav a {
    text-decoration: none;
    color: #021e4f;
}

.sublogo {
    font-family: 'Edu AU VIC WA NT Guides';
    font-size: 30px;
    padding: 20px;
    font-weight: 100;
}

.menu {
    display: flex;
    gap: 10px;
    padding-right: 20px;
}

.menu button {
    color:white;
    height:3rem;
    width: 10rem;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0 10px;
    cursor: pointer;
    background-color: #021e4f;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 3px 3px 0px gray;
}

.menu button:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.menu button:hover {
    color: grey;
}

main {
    display: flex;
    margin: 0 auto;
    background-color: #f7e8c4;
    max-width: 1440px;
    width: 100%;
    flex-grow: 1;
}

footer {
    background-color: #021e4f;
    color: #ebd6a2;
    font-size: 12px;
    text-align: center;
    padding: 10px;
    height: 35px;
}

.errorPage {
    color: white;
    text-align: center;
    padding: 100px;
}