<!DOCTYPE html>
<html lang="pl"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hello friend</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}"/>
</head>

<body>
<header>
    <div id="logo">
        <h1>CLEARENT</h1>
    </div>
    <nav>
        <a th:href="@{/}">STRONA GŁÓWNA</a>
        <a th:href="@{/offers}">PRZEGLĄDAJ OFERTY</a>
        <a th:href="@{/add-offer}">DODAJ OFERTĘ</a>
        <a th:href="@{/login}">ZALOGUJ</a>
        <a th:href="@{/contact}">PROFIL</a>
    </nav>
    <div style="clear: both;"></div>
</header>
<div class="container">
    <div>
        <form method="POST" th:object="${offer}" th:action="@{/add-offer}">
            <input type="hidden"
                   th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}" />
            <h3>Tytuł ogłoszenia:</h3>
            <label th:for="name">Tytuł</label>
            <input type="text" name="name" required="">

            <h3>Lokalizacja:</h3>
            <label th:for="city">Miasto:</label>
            <input type="text" name="city" required="">
            <label th:for="street">Ulica:</label>
            <input type="text" name="street" required="">
            <label th:for="zip">Kod pocztowy:</label>
            <input type="text" name="zip" required="">
            <label th:for="district">Dzielnica:</label>
            <input type="text" name="district" required="">

            <h3>Informacje o mieszkaniu:</h3>
            <label th:for="fullPrice">Cena uwzględniająca wszystkie koszta:</label>
            <input type="number" name="fullPrice" required="">
            <label th:for="basePrice">Czynsz:</label>
            <input type="number" name="basePrice" required="">
            <label th:for="additionalPrice">Media:</label>
            <input type="number" name="additionalPrice" required="">
            <label th:for="area">Powierzchnia:</label>
            <input type="number" name="area" required="">
            <label th:for="estateLevel">Piętro:</label>
            <input type="number" name="estateLevel" required="">

            <h3>Dodatkowe informacje:</h3>
            <label th:for="buildingYear">Rok budowy:</label>
            <input type="number" name="buildingYear" required="">
            <input type="checkbox" name="garage" value="garage">
            <label th:for="garage">Garaż</label><br>
            <input type="checkbox" name="annexKitchen" value="annexKitchen">
            <label th:for="annexKitchen">Aneks kuchenny</label><br>
            <input type="checkbox" name="elevator" value="elevator">
            <label th:for="elevator">Winda</label><br>
            <input type="checkbox" name="animals" value="animals">
            <label th:for="animals">Zwierzęta</label><br>

            <button>Submit</button>
        </form>
</div>
<footer>
    Kierznowski &copy; 2024
</footer>
</body>
</html>
