.account-container {
    display: flex;
    flex-direction: row;

    margin: 0 auto;
    width: 85%;
}

.account-menu {
    display: flex;
    flex-direction: column;
    
    padding: 20px;
    flex: 1 0 20%;
    gap: 5px;
}

.menu-item {
    padding: 0 20px 0 20px;
}

.account-page-content {
    display: flex;
    flex: 1 1 70%;
}

.account-subpage-container {
    display: flex;
    flex-direction: column;

    margin: 20px;
    padding: 20px;
    min-width: 100%;
    
    background-color: #ebd6a2;
    border: solid 1px #c7b27d;
    border-radius: 4px;
    box-shadow: 2px 2px 1px 1px #a5a5a5;
}

.offer-short {
    position: relative;
}

.edit-offer-button {
    width: 75px;
    height: 30px;
    position: absolute;
    top: 30px;
    right: 20px;
    
    font-size: 12px;
    font-weight: 600;
}