.addOffer-container {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px 50px 50px 50px;
    font-size: 20px;
    background-color: white;
    /* background-color: #ebd6a2; */
    border: solid 1px #a5a5a5;
    border-radius: 4px;
    box-shadow: 2px 2px 1px 1px #a5a5a5;
    width: 85%;
}

form {
    display: flex;
    flex-direction: column;
    flex: 0 0 35%;
    gap: 20px;
}
