.offerContainer {
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 85%;
}

.title {
    padding: 15px;
    font-size: 26px;
    font-weight: 700;
}

.price {
    margin-top: 20px;
    padding: 15px;
    font-weight: 600;
}

.address {
    font-weight: 600;
    padding: 15px;
}

.offer-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.appartmentImage {
    width: 800px;
    margin: 0 auto;
}