<!DOCTYPE html>
<html lang="pl"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hello friend</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}"/>
</head>

<body>
<header>
    <div id="logo">
        <h1>CLEARENT</h1>
    </div>
    <nav>
        <a th:href="@{/}">STRONA GŁÓWNA</a>
        <a th:href="@{/offers}">PRZEGLĄDAJ OFERTY</a>
        <a th:href="@{/add-offer}">DODAJ OFERTĘ</a>
        <a th:href="@{/login}">ZALOGUJ</a>
        <a th:href="@{/contact}">PROFIL</a>
    </nav>
    <div style="clear: both;"></div>
</header>
<div class="container">
    <h1>Utwórz konto</h1>
    <form method="POST" th:action="@{/register}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

        <div>
            <input type="text" name="email" required="">
            <label th:for="email" class="label">Adres email</label>
        </div>

        <div>
            <input type="password" name="password" required="">
            <label th:for="password" class="label">Hasło</label>
        </div>

        <div class="input-container">
            <input type="password" name="confirm" required="">
            <label th:for="confirm" class="label">Potwierdź hasło</label>
        </div>

        <div class="input-container">
            <input type="text" name="firstName" required="">
            <label th:for="firstName" class="label">Imię</label>
        </div>
        <div class="input-container">
            <input type="text" name="secondName" required="">
            <label th:for="secondName" class="label">Nazwisko</label>
        </div>

        <div class="input-container">
            <input type="text" name="phone" required="">
            <label th:for="phone" class="label">Numer telefonu</label>
        </div>
        Adres zamieszkania:
        <div class="input-container">
            <input type="text" name="userStreet" required="">
            <label th:for="userStreet" class="label">Ulica</label>
        </div>

        <div class="input-container">
            <input type="text" name="userCity" required="">
            <label th:for="userCity" class="label">Miasto</label>
        </div>

        <div class="input-container">
            <input type="text" name="userZip" required="">
            <label th:for="userZip" class="label">Kod pocztowy</label>
        </div>

        <button type="submit" value="Register">Utwórz konto</button>
    </form>
</div>
<footer>
    Kierznowski &copy; 2024
</footer>
</body>
</html>
