server:
  port: 9090

spring:
  security:
    oauth2:
      client:
        provider:
          authServer:
            issuer-uri: http://127.0.0.1:9000
        registration:
          authServer:
            client-id: rentalapp-client
            client-name: rentalapp-client
            client-secret: secret
            provider: authServer
            authorization-grant-type: authorization_code
            redirect-uri: http://localhost:9090/login/oauth2/code/authServer
            scope: addOffers,deleteOffers,openid
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB