/* || main continer */

.addofferphotos-form {
    display: flex;
    flex-direction: column;
    
    margin-top: 20px;
    min-width: 400px;
    flex: 1 1 65%;
    align-items: center;
}

/* || buttons */

.add-photo-btn {
    width: 200px;
    border: none;
}

.delete-photo-btn {
    width: 30px;
    height: 30px;
    
    position: absolute;
    right: 90px;
    top: 15px;
    
    background-color: darkred;
}