.slider-container {
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: space-between;
    background-color: white;
    /* background-color: #fce1ac; */
    height: auto;
    min-height: 600px;
    border-radius: 4px;
}

.slider-container p {
    margin: 0 auto;
    margin-top: 300px;
}

.slider-container img {
    width: 100%;
    height: 600px;
    object-fit: contain;
    display: block;
    background-color: black;
}

.prev-button, .next-button {
    font-size: 40px;
    color: #aa986c;
    position: absolute;
    height: 100%;
    width: 10%;
    background-color: rgb(165, 165, 165, 0.1);
}

.photo-display button:hover {
    background-color: rgb(165, 165, 165, 0.2);
}

.prev-button {
    left: 0px;
    border-radius: 4px 0px 0px 4px;
}

.next-button {
    right: 0px;
    border-radius: 0px 4px 4px 0px;
}

.circle-indicator {
    display: flex;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
}

.circle {
    height: 15px;
    width: 15px;
    background-color: rgb(128, 128, 128, 0.3);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 2px solid darkgrey;
}

.circle.active {
    background-color: gray;
}