.offer-container {
    background-color:  #ebd6a2;
    border: solid 1px #c7b27d;
    border-radius: 4px;
    box-shadow: 2px 2px 1px 1px #a5a5a5;
    padding: 20px;
    margin: 10px 0px;
    display: flex;
    gap: 50px;
    font-size: 14px;
    align-items: center;
    width: 100%;

}

.description {
    display: flex;
    flex-direction: column;
}

.price {
    padding-top: 10px;
    font-weight: 400;
    font-size: 20px;
}

.title-price {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 22px;
    padding-bottom: 20px;
}

.offerImage {
    max-width: 300px;
    max-height: 200px;
}

a {
    text-decoration: none;
    color:#021e4f;
}